@media only screen and (max-width: 1280px) {

    .portrait div{
        width: 45vw;
    }
     .landscape div{
        width: 90vw;
    }
}

@media only screen 
and (max-width: 1024px)
and (orientation:landscape) {

    .portrait div {
        flex-direction: column;
    }
    .portrait div {
        width: auto;
        height: 75vh;
    }
     .landscape div{
        width: 90vw;
    }
}
@media only screen and (max-width: 600px) {

    .portrait div, .landscape div {
        width: 85vw;
    }
}

